.App {
  text-align: center;
}

.app-header {
  line-height: 50px;
  height: 50px;
  background-color: rgba(255, 0, 0, 0.4);
}

.app-content {
  margin: 20px;
}

.posts-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.post-container {
  border: solid 1px #ececec;
}

.post-container header {
  font-weight: bold;
  line-height: 25px;
  max-height: 100px;
  padding: 0 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px #ececec;
}

.post-container section {
  min-height: 100px;
  padding: 20px 10px;
}

.post-container.view-action {
    display: flex;
    justify-content: center;
    flex-flow: column;
}

button {
  background: none;
  border: none;
  padding: 0;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  font-size: 15px;
}